<template>
    <div class="col-xs-12 col-sm-6">
        <div v-if="!server.status">
            <p >Server Details are currently not updated or status unknow</p>
        </div>
        <div v-else>
            <p> Server {{ server.name }} status : {{ server.status }} </p>
            <form @submit.prevent="updateStatus">
            Change status : <input type="text" v-model="status">
            <button @click="updateStatus"> confirm </button>    
            </form>
        </div>
    </div>

</template>

<script>
export default {
    data: () => {
        return {
            status: ''
        }
    },
    props: {
        server: Object
    },
    methods: {
        updateStatus(){
            this.$emit('updateStatus', { name: this.server.name, status: this.status});
        }
    },
    watch: {
        server(n, o){
            this.status = '';
        }
    }
}
</script>


<style>

</style>
