<template>
    <div class="col-xs-12 col-sm-6">
        <ul class="list-group">
            <li
                    class="list-group-item"
                    v-for="index in serverList" 
                    :key="index.name"
                    @click="getStatus(index)"
                    >
                Server #{{ index.name }} : status # {{ index.status }}
            </li>
        </ul>
    </div>
</template>

<script>

export default {
    props: {
        serverList: Array
    },
    methods: {
        getStatus(server){
            this.$emit('showDetails', server)
        }
    }
}
</script>


<style>

</style>
