<template>
    <div class="container">
        <app-header></app-header>
        <hr>
        <div class="row">
            <servers :serverList="serverList" @showDetails="selectedServer = $event"></servers>
            <app-server-details :server="selectedServer" @updateStatus="updateStatus($event)"></app-server-details>
        </div>
        <hr>
        <app-footer></app-footer>
    </div>
</template>

<script>
    import Header from './components/Shared/Header.vue';
    import Footer from './components/Shared/Footer.vue';
    import Servers from './components/Server/Servers.vue';
    import ServerDetails from './components/Server/ServerDetails.vue';

    export default {
        components: {
            appHeader: Header,
            Servers,
            'app-server-details': ServerDetails,
            'app-footer': Footer
        },
        data: () => {
            return {
                selectedServer: {},
                serverList: [
                    {name: 1, status: 'idle'},
                    {name: 2, status: 'working'},
                    {name: 3, status: 'working'},
                    {name: 4, status: 'stop'},
                    {name: 5, status: 'unknow'}
                ]
            };
        },
        methods: {
            updateStatus(updateData){
                const updatedServer = this.serverList.find(s => s.name === updateData.name);
                updatedServer.status = updateData.status;
            }
        }
    }
</script>

<style>

</style>
