<template>
     <div id="body" class="row">
            <app-server></app-server>
            <div class="col-xs-12 col-sm-6">
                <button> Stop </button>
            </div>
        </div>
</template>

<script>
import AppServer from './Server.vue'

export default {
    name: 'body',
    components: {
        AppServer,
    }
}
</script>