<template>
    <div id="list-server" class="col-xs-12 col-sm-6">
        <ul class="list-group">
            <li
                    class="list-group-item"
                    v-for="index in 10"
                    :key="index"
                    >
                Server #{{ index }}
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    name: 'list-server'
}
</script>

